<template>
  <div>Pagina para el inicio</div>
</template>

<script>
import sesion from "../mixins/sesion.js";

import axios from "axios";

export default {
  name: "inicio",

  mixins: [sesion]
};
</script>




